<!DOCTYPE html>
<html>
  <head>
    <title>Dungeons</title>
    <style>
      body {
        background-image: url("{{ url_for('static', filename='Hypixel Skyblock.png') }}");
        background-size: cover;
      }
      h1 {
        text-align: center;
        font-size: 72px;
        color: #fff;
        text-shadow: 2px 2px #000;
      }
    </style>
  </head>
  <body>
    <h1>Dungeons</h1>
    <p>
        This is my text about getting money with
    </p>
  </body>
</html>
