<!DOCTYPE html>
<html>
  <head>
    <title>Hypixel Skyblock</title>
    <style>
      body {
        background-image: url("{{ url_for('static', filename='Hypixel Skyblock.png') }}");
        background-size: cover;
      }
      h1 {
        text-align: center;
        font-size: 72px;
        color: #fff;
        text-shadow: 2px 2px #000;
      }
    </style>
  </head>
  <body>
    <h1>How to get money</h1>
    <ul>
      <li>
        <a href="/money-making-methods/Mining">Mining</a>
      </li>
      <li>
        <a href="/money-making-methods/Farming">Farming</a>
      </li>
      <li>
        <a href="/money-making-methods/Dungeons">Dungeons</a>
      </li>
      <li>
        <a href="/money-making-methods/Flipping">Flipping</a>
      </li>
      <li>
        <a href="/money-making-methods/Kuudra">Kuudra</a>
      </li>
    </ul>
  </body>
</html>
