<!DOCTYPE html>
<html>
  <head>
    <script>
      console.log("{{test}}");
    </script>
    <title>Hypixel Skyblock</title>
    <style>
      body {
        background-image: url("{{ url_for('static', filename='Hypixel Skyblock.png') }}");
        background-size: cover;
      }
      h1 {
        text-align: center;
        font-size: 72px;
        color: #fff;
        text-shadow: 2px 2px #000;
      }
    </style>
  </head>
  <body>
    <h1>Hypixel Skyblock</h1>
    <ul>
      <li>
        <a href="https://wiki.hypixel.net/">Hypixel Skyblock Wiki</a>
      </li>
      <li>
        <a href="https://hypixel.net/skyblock/leaderboards"
          >Hypixel Skyblock beginners guide</a
        >
      </li>
      <li>
        <a href="https://sky.shiiyu.moe/"
          >Hypixel Skyblock see other users stats</a
        >
      </li>
      <li>
        <a href="/money-making-methods/">How to get money</a>
      </li>
      <li>
        <a href="/Skills/">Skills</a>
      </li>
    </ul>
  </body>
</html>
